.banner {
    height: 25px;
    width: 100%;
    background-color: #DD211A;
    color: #fff;
    font-size: 0.7em;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.details {
    color: #fff;
    margin: 0 0 0 5px;
}
